[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "libs/easyloggingpp"]
	path = libs/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "libs/SDL2_image"]
	path = libs/SDL2_image
	url = https://github.com/davidsiaw/SDL2_image.git
